.container {
  display: flex;
  /* ordena por defecto a los hijos con cierta direccion */
  justify-content: center;
  padding: 20px;
}
/* por defecto está en flex direction rows */
.imagenes-1 img {
  height: 100px;
  width: 100px;
  border-radius: 80px;
}

.nav a {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  /* ordena por defecto a los hijos con cierta direccion */
  justify-content: center;
  padding: 20px;
}
.imagenes-2 img {
  height: 200px;
  width: 200px;
}

/* justify content centra en el contenido principal */
/* justify-content  */
/* flex-direccion column cambia el eje */
/* align item centra en el eje secundario */
